<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">

  <title>{{seo.title}}</title>
  <meta name="viewport" content="user-scalable=no, initial-scale = 1, minimum-scale = 1, maximum-scale = 1, width=device-width"/>

  <meta content="website" property="og:type">
  <meta content="{{seo.title}}" property="og:title">
  <meta name="description" content="{{seo.description}}" property="og:description" />
  <meta content="Clément Férey" property="og:site_name">
  <meta content="{{seo.url}}" property="og:url">
  <meta content="en_US" property="og:locale">
  <meta property="og:image" content="http://clementferey.fr/images/clementferey.jpg">

  <meta name="robots" content="index, follow, all" />
  <meta name="author" content="Clément Férey - http://www.clementferey.fr" />
  <meta name="google-site-verification" content="" />
  <meta name="DC.language" content="en_US" />
  <meta name="DC.title" lang="en" content="{{seo.title}}" />
  <meta name="DC.description" lang="en" content="{{seo.description}}" />

  <link rel="shortcut icon"  href="/favicons/favicon.ico" />
  <link type="image/x-icon" href="/favicons/favicon.ico" rel="icon" />
  <link type="image/x-icon" href="/favicons/favicon.ico" rel="shortcut icon" />

  <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
  <link rel="manifest" href="/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">


  <link href="/css/website.min.css" rel="stylesheet"/>
  <link href="/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body class="home">

  {{{body}}}



  <footer class="center">
    <a href="http://twitter.com/_ClementF"> <i class="fa fa-twittos"></i></a>
    <a href="http://www.linkedin.com/pub/cl%C3%A9ment-f%C3%A9rey/64/71a/b42"><i class="fa fa-linkediin"></i></a>
    <p> Copyright 2015</p>
  </footer>

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.waypoints.min.js"></script>
  <script type="text/javascript" src="/js/script.min.js"></script>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37673674-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
